# Django Backend API URL
NEXT_PUBLIC_API_HOST=http://127.0.0.1:8000

# Application Settings
NEXT_PUBLIC_APP_NAME="CPoverFlow"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Authentication
NEXT_PUBLIC_USE_DJANGO_AUTH=true
NEXT_PUBLIC_TINY_EDITOR_API_KEY=zy6f.......